{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "react-native"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "comma-dangle": "off",
    "no-underscore-dangle": "off",
    "eol-last": "off",
    "object-curly-spacing": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-indent": "off",
    "react/no-typos": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-handler-names": "off",
    "react/require-default-props": "off",
    "react/no-array-index-key": "warn",
    "import/prefer-default-export": "warn",
    "react-native/no-inline-styles": "off",
    "no-invalid-this": "off",
    "semi": "error",
    "quotes": "error"
  }
}